<form class="w-full max-w-lg">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-state"
      >
        From
      </label>
      <div class="relative">
  <select class="appearance-none flex items-center w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" [(ngModel)]="fromCurrency" (change)="convertFromCurrency()" name="fromCurrency">
    <ng-container *ngFor="let currency of getConversionRatesKeys()">
      <option [value]="currency" [selected]="currency === fromCurrency">
        <span class="bg-no-repeat bg-center inline-block w-4 h-4 mr-2" [style.background-image]="'url(https://hatscripts.github.io/circle-flags/flags/' + codes[currency] + '.svg)'" style="background-size: cover; width: 16px; height: 16px;"></span>
        <!-- <img src="https://hatscripts.github.io/circle-flags/flags/{{ codes[currency] }}.svg" width="48" alt="{{ currency }} flag" class="h-4 w-4 mr-2 inline-block"> -->
        <span class="inline-block">{{ currency }}</span>
      </option>
    </ng-container>
  </select>
  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 top-1/2 transform -translate-y-1/2">
    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
    </svg>
  </div>
</div>

      <!-- <div class="relative">
        <select
          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-state"
          [(ngModel)]="fromCurrency"
          (change)="convertFromCurrency()"
          name="fromCurrency"
        >
          <ng-container *ngFor="let currency of getConversionRatesKeys()">
            <option [value]="currency" [selected]="currency === fromCurrency">
              <img
                src="https://hatscripts.github.io/circle-flags/flags/{{
                  codes[currency]
                }}.svg"
                width="48"
                alt="{{ currency }} flag"
                class="h-4 w-4 mr-2 inline-block"
              />
              <span class="inline-block">{{ currency }}</span>
            </option>
          </ng-container>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div> -->
    </div>
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-state"
      >
        To
      </label>
      <div class="relative">
        <select
          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-state-to"
          [(ngModel)]="toCurrency"
          name="toCurrency"
          (change)="convertFromCurrency()"
        >
          <ng-container *ngFor="let currency of getConversionRatesKeys()">
            <option [value]="currency" [selected]="currency === toCurrency">
              {{ currency }}
            </option>
          </ng-container>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-first-name"
      >
        Amount
      </label>
      <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-first-name"
        type="number"
        placeholder=""
        [(ngModel)]="fromAmount"
        (ngModelChange)="convertFromCurrency()"
        name="fromAmount"
      />
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="from-amount"
      >
        Amount
      </label>
      <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="to-amount"
        type="number"
        placeholder=""
        [(ngModel)]="toAmount"
        (ngModelChange)="convertToCurrency()"
        name="toAmount"
        [value]="convertFromCurrency()"
      />
    </div>
  </div>
</form>
