<form class="w-full max-w-lg">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-state"
      >
        From
      </label>

      <div class="relative">
        <app-currency-select
          [selectedCurrency]="fromCurrency"
          [currencyCodes]="codes"
          (currencySelected)="selectCurrency($event, 'fromCurrency')"
        ></app-currency-select>

      </div>
    </div>
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-state"
      >
        To
      </label>
      <div class="relative">
        <app-currency-select
  [selectedCurrency]="toCurrency"
  [currencyCodes]="codes"
  (currencySelected)="selectCurrency($event, 'toCurrency')"
></app-currency-select>

      </div>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-first-name"
      >
        Amount
      </label>
      <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-first-name"
        type="number"
        [min]="0"
        placeholder=""
        [(ngModel)]="fromAmount"
        (ngModelChange)="convertFromCurrency()"
        name="fromAmount"
      />
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="from-amount"
      >
        Amount
      </label>
      <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="to-amount"
        type="number"
        [min]="0"
        placeholder=""
        [(ngModel)]="toAmount"
        (ngModelChange)="convertToCurrency()"
        name="toAmount"
        [value]="convertFromCurrency()"
      />
    </div>
  </div>
</form>
